<div>
  <h2>Select</h2>
  <gxs-select placeholder="Choose your destiny" [initialValue]="'value2'" [options]="{ search: true, searchPlaceholder: 'Поиск...', classes: ['test_class'] }" (change)="onChange($event, 1)">
    <gxs-option value="value1">name1</gxs-option>
    <gxs-option [value]="'value2'">name2</gxs-option>
    <gxs-option [value]="'value3'">name3</gxs-option>
    <gxs-option [value]="'value4'">name4</gxs-option>
    <gxs-option [value]="'value5'">name5</gxs-option>
    <gxs-option [value]="'value6'">name6</gxs-option>
    <gxs-option [value]="'value7'">name7</gxs-option>
    <gxs-option [value]="'value8'">name8</gxs-option>
    <gxs-option [value]="'value9'">name9</gxs-option>
    <gxs-option [value]="'value10'">name10</gxs-option>
    <gxs-option [value]="'value11'">name11 long name very very loooong</gxs-option>
    <gxs-option [value]="'value12'">name12</gxs-option>
    <gxs-option [value]="'value13'">name13</gxs-option>
    <gxs-option [value]="'value14'">name14</gxs-option>
    <gxs-option [value]="'value15'">name15</gxs-option>
    <gxs-option [value]="'value16'">name16</gxs-option>
    <gxs-option [value]="'value17'">name17</gxs-option>
    <gxs-option [value]="'value18'">name18</gxs-option>
    <gxs-option [value]="'value19'">name19</gxs-option>
  </gxs-select>
</div>
<div>
  <h2>Disabled</h2>
  <gxs-select placeholder="Disabled select" [options]="{ search: true }" [disabled]="true" (change)="onChange($event, 2)"></gxs-select>
</div>
<div>
  <h2>Custom theme</h2>
  <gxs-select placeholder="Choose your destiny" [initialValue]="'value2'" [options]="{ search: true, theme: 'custom' }" (change)="onChange($event, 3)">
    <gxs-option value="value1">name1</gxs-option>
    <gxs-option [value]="'value2'">name2</gxs-option>
    <gxs-option [value]="'value3'">name3</gxs-option>
    <gxs-option [value]="'value4'">name4</gxs-option>
    <gxs-option [value]="'value5'">name5</gxs-option>
    <gxs-option [value]="'value6'">name6</gxs-option>
    <gxs-option [value]="'value7'">name7</gxs-option>
    <gxs-option [value]="'value8'">name8</gxs-option>
    <gxs-option [value]="'value9'">name9</gxs-option>
    <gxs-option [value]="'value10'">name10</gxs-option>
    <gxs-option [value]="'value11'">name11 long name very very loooong</gxs-option>
    <gxs-option [value]="'value12'">name12</gxs-option>
    <gxs-option [value]="'value13'">name13</gxs-option>
    <gxs-option [value]="'value14'">name14</gxs-option>
    <gxs-option [value]="'value15'">name15</gxs-option>
    <gxs-option [value]="'value16'">name16</gxs-option>
    <gxs-option [value]="'value17'">name17</gxs-option>
    <gxs-option [value]="'value18'">name18</gxs-option>
    <gxs-option [value]="'value19'">name19</gxs-option>
  </gxs-select>
</div>
<div>
  <h2>Reactive Form</h2>
  <form [formGroup]="form">
    <gxs-select placeholder="Choose your destiny" [formControlName]="'submit4'" (change)="onChange($event, 4)">
      <gxs-option value="value1">name1</gxs-option>
      <gxs-option [value]="'value2'">name2</gxs-option>
      <gxs-option [value]="'value3'">name3</gxs-option>
      <gxs-option [value]="'value4'">name4</gxs-option>
      <gxs-option [value]="'value5'">name5</gxs-option>
      <gxs-option [value]="'value6'">name6</gxs-option>
      <gxs-option [value]="'value7'">name7</gxs-option>
      <gxs-option [value]="'value8'">name8</gxs-option>
      <gxs-option [value]="'value9'">name9</gxs-option>
      <gxs-option [value]="'value10'">name10</gxs-option>
      <gxs-option [value]="'value11'">name11 long name very very loooong</gxs-option>
      <gxs-option [value]="'value12'">name12</gxs-option>
      <gxs-option [value]="'value13'">name13</gxs-option>
      <gxs-option [value]="'value14'">name14</gxs-option>
      <gxs-option [value]="'value15'">name15</gxs-option>
      <gxs-option [value]="'value16'">name16</gxs-option>
      <gxs-option [value]="'value17'">name17</gxs-option>
      <gxs-option [value]="'value18'">name18</gxs-option>
      <gxs-option [value]="'value19'">name19</gxs-option>
    </gxs-select>
    <ul>
      <li>Pristine: {{form.controls['submit4'].pristine}}</li>
      <li>Touched: {{form.controls['submit4'].touched}}</li>
      <li>Valid: {{form.controls['submit4'].valid}}</li>
    </ul>
  </form>
</div>
<div>
  <h2>Select with undefined and null options</h2>
  <gxs-select [options]="{ search: true }" (change)="onChange($event, 5)">
    <gxs-option [value]="undefined">undefined</gxs-option>
    <gxs-option [value]="null">null</gxs-option>
    <gxs-option [value]="'value1'">name1</gxs-option>
    <gxs-option [value]="'value2'">name2</gxs-option>
    <gxs-option [value]="'value3'">name3</gxs-option>
    <gxs-option [value]="'value4'">name4</gxs-option>
    <gxs-option [value]="'value5'">name5</gxs-option>
    <gxs-option [value]="'value6'">name6</gxs-option>
  </gxs-select>
</div>
<div>
  <h2>Ajax Select</h2>
  <gxs-select [source]="source" [initialValue]="'value2'" [options]="{ search: true }" (change)="onChange($event, 6)"></gxs-select>
</div>
<div>
  <h2>Reactive Ajax Select</h2>
  <form [formGroup]="form">
    <gxs-select [source]="source" [options]="{ search: true }" [formControlName]="'submit7'"  (change)="onChange($event, 7)"></gxs-select>
  </form>
</div>

<ng-template let-name="name" #options_template>
  Name is <strong>{{name}}</strong>
</ng-template>

<div>
  <h2>Select with 2 elements in name</h2>
  <form [formGroup]="form">
    <gxs-select
      placeholder="Choose your destiny"
      [optionTemplate]="options_template">
      <gxs-option
        [value]="'value1'"
        [name]="'name1'">
      </gxs-option>
      <gxs-option
        [value]="'value2'"
        [name]="'name2'">
      </gxs-option>
    </gxs-select>
  </form>
</div>
