
<xs-select placeholder="Choose your destiny" [initialValue]="'value2'" [options]="{ search: true }">
  <xs-option value="value1">name1</xs-option>
  <xs-option [value]="'value2'">name2</xs-option>
  <xs-option [value]="'value3'">name3</xs-option>
  <xs-option [value]="'value4'">name4</xs-option>
  <xs-option [value]="'value5'">name5</xs-option>
  <xs-option [value]="'value6'">name6</xs-option>
  <xs-option [value]="'value7'">name7</xs-option>
  <xs-option [value]="'value8'">name8</xs-option>
  <xs-option [value]="'value9'">name9</xs-option>
  <xs-option [value]="'value10'">name10</xs-option>
  <xs-option [value]="'value11'">name11 long name very very loooong</xs-option>
  <xs-option [value]="'value12'">name12</xs-option>
  <xs-option [value]="'value13'">name13</xs-option>
  <xs-option [value]="'value14'">name14</xs-option>
  <xs-option [value]="'value15'">name15</xs-option>
  <xs-option [value]="'value16'">name16</xs-option>
  <xs-option [value]="'value17'">name17</xs-option>
  <xs-option [value]="'value18'">name18</xs-option>
  <xs-option [value]="'value19'">name19</xs-option>
</xs-select>
