
.select_theme_custom {
  .select__input {
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_opened {
      background: #f5f5f5;
    }

    &_disabled {
      background: #eee;
      cursor: default;
    }
  }

  .options_theme_custom {
    min-width: 200px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 10px 10px 0 rgba(#000, 0.1);

    .options__search-container {
      padding: 2px 4px;
    }

    .options__search {
      width: 100%;
      height: 26px;
      line-height: 24px;
      padding: 0 10px;
      font-size: 14px;
      color: #000;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: none;
    }

    .options__items {
      max-height: 200px;
      overflow: hidden;
      padding: 2px 4px;
      -webkit-overflow-scrolling: touch;
    }

    .options__item {
      display: block;
      color: #000;
      padding: 4px 10px;
      border-bottom: 1px solid #ccc;

      &_hover {
        background: #f5f5f5;
      }

      &_selected {
        font-weight: bold;
      }

      &:last-child {
        border: 0;
      }
    }

    .options__loading {
      display: block;
      padding: 4px 10px;
      text-align: center;
    }

    .options__empty {
      display: block;
      padding: 4px 10px;
      text-align: center;
    }
  }
}
