
<gxs-select placeholder="Choose your destiny" [initialValue]="'value2'" [options]="{ search: true }">
  <gxs-option value="value1">name1</gxs-option>
  <gxs-option [value]="'value2'">name2</gxs-option>
  <gxs-option [value]="'value3'">name3</gxs-option>
  <gxs-option [value]="'value4'">name4</gxs-option>
  <gxs-option [value]="'value5'">name5</gxs-option>
  <gxs-option [value]="'value6'">name6</gxs-option>
  <gxs-option [value]="'value7'">name7</gxs-option>
  <gxs-option [value]="'value8'">name8</gxs-option>
  <gxs-option [value]="'value9'">name9</gxs-option>
  <gxs-option [value]="'value10'">name10</gxs-option>
  <gxs-option [value]="'value11'">name11 long name very very loooong</gxs-option>
  <gxs-option [value]="'value12'">name12</gxs-option>
  <gxs-option [value]="'value13'">name13</gxs-option>
  <gxs-option [value]="'value14'">name14</gxs-option>
  <gxs-option [value]="'value15'">name15</gxs-option>
  <gxs-option [value]="'value16'">name16</gxs-option>
  <gxs-option [value]="'value17'">name17</gxs-option>
  <gxs-option [value]="'value18'">name18</gxs-option>
  <gxs-option [value]="'value19'">name19</gxs-option>
</gxs-select>
